.component {
  height: calc(100vh - 2 * var(--padding-default));
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.illustration {
  width: 100%;
  max-width: 400px;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .illustration {
    max-width: 300px;
  }

  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .component {
    height: calc(100vh - 2 * var(--padding-default) - var(--height-topbar));
  }
}
