:root {
  --font-family-code: 'Roboto Mono', monospace;
  --padding-default: 25px;
  --height-topbar: 50px;
  --scrollbar-compensation: 0px;

  [data-theme='light'] {
    --color-body-background: #ffffff;
    --color-text: #000000;
    --color-main-background: #ffffff;
    --color-topbar-text: #ffffff;
    --color-topbar-background: #191919;
    --color-sidebar-background: #2a2a2a;
    --color-sidebar-text: #ffffff;
    --color-sidebar-line: #797979;
    --color-icon-recommended: #66b350;
    --color-icon-not-recommended: #cd5f5f;
    --color-notification-background: #fefdeb;
    --color-notification-border-left: #e7db01;
    --color-code-background: #f7f7f7;
    --color-separator-line: #e2e2e2;
    --color-separator-icon: #d2d2d2;
  }

  [data-theme='dark'] {
    --color-body-background: #101010;
    --color-text: #ffffff;
    --color-main-background: #101010;
    --color-topbar-text: #ffffff;
    --color-topbar-background: #333333;
    --color-sidebar-background: #040404;
    --color-sidebar-text: #ffffff;
    --color-sidebar-line: #797979;
    --color-icon-recommended: #498638;
    --color-icon-not-recommended: #a33a3a;
    --color-notification-background: #3a362a;
    --color-notification-border-left: #989783;
    --color-code-background: #000000;
    --color-separator-line: #e2e2e2;
    --color-separator-icon: #d2d2d2;
  }
}

body {
  padding: 0;
  padding-right: var(--scrollbar-compensation);
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-body-background);
  background-image: url('../assets/background.svg');
  background-attachment: fixed;
  color: var(--color-text);
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

// styling for inline code elements
code:not([class*='language-']) {
  font-family: var(--font-family-code);
  background: var(--color-code-background);
  padding: 2px 5px;
}
