:root {
  --font-family-code: 'Roboto Mono', monospace;
  --padding-default: 25px;
  --color-body-background: #ffffff;
  --color-text: #000000;
  --color-link: #2b5be0;
  --color-main-background: #ffffff;
  --color-sidebar-background: #2a2a2a;
  --color-sidebar-text: #ffffff;
  --color-icon-recommended: #66b350;
  --color-icon-not-recommended: #cd5f5f;
  --color-notification-background: #fefdeb;
  --color-code-background: #f7f7f7;
  --color-separator-line: #e2e2e2;
  --color-separator-icon: #d2d2d2;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-body-background);
  background-image: url('../assets/background.svg');
  background-attachment: fixed;
  color: var(--color-text);
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

// styling for inline code elements
code:not([class*='language-']) {
  font-family: var(--font-family-code);
  background: var(--color-code-background);
  padding: 2px 5px;
}
