.component {
  width: 270px;
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: var(--color-sidebar-background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  padding: var(--padding-default);

  a {
    color: var(--color-sidebar-text);
  }

  .title {
    color: var(--color-sidebar-text);
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    &.primary-menu {
      margin-top: 25px;
    }

    &.secondary-menu {
      margin-top: auto;
    }

    li {
      a {
        display: flex;
        align-items: center;
        filter: grayscale(1);
        opacity: 0.5;
        transition: filter, opacity, 0.3s;

        &:hover,
        &.active {
          filter: none;
          opacity: 1;
        }

        svg {
          width: 20px;
          height: 20px;
          margin-right: 8px;
        }
      }

      &:not(:last-child) {
        margin: 15px 0;
      }
    }
  }
}
