.component {
  width: 270px;
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: var(--color-sidebar-background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  padding: var(--padding-default);
  z-index: 10;
  transition: left 0.25s;

  &.open {
    left: 0;
  }

  > :last-child {
    margin-top: auto;
  }

  @media screen and (max-width: 992px) {
    position: fixed;
    width: 210px;
    left: -210px;
    top: 50px;
    height: calc(100vh - 50px);
  }
}
