.component {
  position: relative;
  padding: 0 5px;
  background-color: var(--color-codesnippet-background);
  border-left-width: 3px;
  border-left-style: solid;
  border-color: transparent;
  border-left-color: var(--color-codesnippet-border);

  &.recommended {
    border-left-color: var(--color-codesnippet-border-recommended);
  }

  &.not-recommended {
    border-left-color: var(--color-codesnippet-border-not-recommended);
  }
}
