.component {
  position: relative;
  background: var(--color-code-background);

  svg {
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: 6px;
    right: 6px;

    &.green {
      fill: var(--color-icon-recommended);
    }

    &.red {
      fill: var(--color-icon-not-recommended);
    }
  }
}
