.component {
  width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 992px) {
    width: 690px;
    margin-top: var(--height-topbar);
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
