.component {
  width: 100%;
  line-height: 1.5;
  background-color: var(--color-main-background);
  padding: var(--padding-default);

  h1 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
    line-height: initial;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 600;
  }

  h2 {
    scroll-margin-top: 15px;

    a {
      width: 16px;
      height: 16px;
      margin-left: 3px;
      background-image: url('../../../assets/link.svg');
      display: none;
    }

    &:hover a {
      display: inline-block;
    }

    @media screen and (max-width: 992px) {
      scroll-margin-top: calc(15px + var(--height-topbar));
    }
  }
}
